*{
    box-sizing: border-box;
    font-family: "Audiowide", serif;
    font-style: normal;
    background: url('../Project/Images/ep_naturalblack.webp') repeat;
    user-select: none;
}

.container {
    background: transparent;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 0.4vh solid orange;
    margin: 0 0 auto;
}

.pianoContainer {
    margin: 0 0 auto;
    height: 72vh;
    width: 70%;
    display: flex;
    flex-direction: row;
}

.info {
    margin: auto;
    width: 30%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: orange;
}

.piano {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 55vh;
    width: 90%;
    user-select: none;
    justify-content: center;
    margin: auto;
}

.title {
    font-family: "Slackey", sans-serif;
    font-weight: 700;
    width: 100%;
    line-height: 1.2;
    font-size: 5.5vw;
    text-align: center;
    background: linear-gradient(to top, cornflowerblue, rgb(133, 187, 206));
    background-clip: text;
    color: transparent;
    text-shadow: 3vh 3vh 10vh rgba(0, 0, 0, 0.5);
    margin: 0 0 auto;
}

.subTitle {
    font-size: 1.39vw;
    padding: 0 2vw;
    margin: 0 0 auto;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    background: linear-gradient(to top, cornflowerblue, rgb(133, 187, 206));
    background-clip: text;
    color: transparent;
    text-shadow: 0.7vh 0.7vh 1vh rgba(0, 0, 0, 0.5);
}

.text {
    font-size: 1.39vw;
    margin: 0 0 auto;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background: linear-gradient(to top, orange, darkorange);
    background-clip: text;
    color: transparent;
    text-shadow: 0.7vh 0.7vh 1vh rgba(0, 0, 0, 0.5);
}

.key {
    border-radius: 0.25vw;
    flex: 1; 
    margin: 0.04%;
    height: 100%;
    background: #f0f0f0;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1vw;
    box-sizing: border-box;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.2);
}

.key.black {
    border-top-right-radius: 0.17vw;
    border-top-left-radius: 0.17vw;
    position: absolute;
    width: 70%; 
    height: 60%; 
    background: #090909;
    color: white;
    z-index: 2;  
    font-size: 1vw;
    box-shadow: 0 1vw 2vw rgba(128, 128, 128, 0.2);
}

.key span {
    background: transparent;
}

.key.black span {
    background: transparent;
}

.key.active {
    transform-origin: top;
    transform: scale(0.98);
    box-shadow: 
        0 0.2vw 0.3vw rgba(0, 0, 0, 0.5),
        inset -0.1vw -0.1vw 0.6vw rgba(0, 0, 0, 0.4),
        inset 0.1vw -0.1vw 0.6vw rgba(0, 0, 0, 0.4),
        inset 0 0.3vw 0.3vw rgba(0, 0, 0, 0.3);
}

.key.black.active {
    transform-origin: top;
    transform: scale(0.98);
    box-shadow: 
        0 0.2vw 0.3vw rgba(0, 0, 0, 0.5),
        inset -0.1vw -0.1vw 0.6vw rgba(0, 0, 0, 0.4),
        inset 0.1vw -0.1vw 0.6vw rgba(0, 0, 0, 0.4),
        inset 0 0.3vw 0.3vw rgba(0, 0, 0, 0.3);
}

.userMenu, .overlayMenu {
    padding: 1vh;
    display: flex;
    flex-direction: row;
    background: transparent;
    justify-content: space-around;
}

.button {
    font-size: 1.7vh;
    border-radius: 0.2vw;
    border: 0.15vw solid orange;
    height: 10vh;
    line-height: 10vh;
    width: 32vh;
    text-align: center;
    cursor: pointer;
    background: transparent;
    color: orange;
}

.overlay {
    border-radius: 0.35vw;
    margin-bottom: 7vh;
    background: url('../Project/Images/ep_naturalblack.webp') repeat;
}

.button:hover {
    transform: scale(90%);
    background: transparent;
}

.overlay:hover{
    background: url('../Project/Images/ep_naturalblack.webp') repeat;
}

.key.correct {
    background: green !important;
    color: white;
}

.key.incorrect {
    background: red !important;
    color: white;
}

.overlayBG, .overlaySolution {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: transparent;
    flex-direction: column;
}

.overlayBG {
    background-color: rgba(255,255,255,0.8);
}

.overlaySolution {
    background-color: rgba(255,255,255,0.5);
}

.overlayTitle, .overlayTitleSolution {
    background: transparent;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0,0,0,0);
}

.overlayTitle {
    margin: 10vh 10vw auto;
    font-size: 10vh;
}

.overlayTitleSolution {
    margin: 5vh 5vw auto;
    font-size: 11vh;
}

.overlayRanking {
    background: transparent;
    margin: 0vh 0vw auto;
    flex-direction: column;
    text-align: center;
    font-size: 5vh;
    background-color: rgba(0,0,0,0);
    display: none;
    gap: 2vh;
    font-weight: 500;
}

.no-hover:hover {
    transform: none;
}

.notSelectable{
    border-color: rgb(145, 95, 4);
    color: rgb(145, 95, 4);
    cursor: auto;
}