*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(9, 33, 65);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(9, 33, 65);
    width: 100%;
    gap: 0px;
    border-bottom: 3px solid orange;
}

.pianoContainer {
    height: 750px;
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.info {
    width: 30%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
    color: orange;
}

.piano {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 450px;
    width: 1200px;
    user-select: none;
    justify-content: center;
    margin: auto;
}

.title {
    font-family: "Slackey", sans-serif;
    font-weight: 700;
    width: 100%;
    height: 120px;
    line-height: 120px;
    font-size: 100px;
    text-align: center;
    color: cornflowerblue;
}

.subTitle {
    font-size: 25px;
    margin-bottom: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: cornflowerblue;
}

.text {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: orange;
}

.key {
    flex: 1; 
    margin: 0.5px;
    height: 100%;
    border: 1px solid black;
    background: white;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 15px;
    box-sizing: border-box;
}

.key span {
    background: transparent;
}

.key.black {
    position: absolute;
    width: 70%; 
    height: 60%; 
    background: black;
    color: white;
    z-index: 2;    
    font-size: 15px;
}

.key.black span {
    background: transparent;
}

.key.active {
    background: lightblue;
}
.key.black.active {
    background: darkblue;
}

.userMenu, .overlayMenu {
    margin-bottom: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0);
    justify-content: space-around;
}

.userMenu {
    background-color: rgb(9, 33, 65);
}

.button {
    padding: 30px;
    border: 2px solid orange;
    width: 300px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(9, 33, 65);
    color: orange;
}

.button:hover{
    background-color: rgb(23, 67, 67);
}

.key.correct {
    background: green !important;
    color: white;
}

.key.incorrect {
    background: red !important;
    color: white;
}

.score, .timer {
    font-size: 30px;
    margin: 10px;
    text-align: center;
}



/* TO CHECK */

.overlayBG, .overlaySolution {
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
}

.overlaySolution {
    display: none;
    background-color: rgba(255,255,255,0.3);
}

.overlayTitle{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    font-size: 150px;
    background-color: rgba(0,0,0,0);
}