*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(9, 33, 65);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Migliora la spaziatura */
    align-items: flex-start; /* Allinea verticalmente */
    position: relative;
    background-color: rgb(9, 33, 65);
    height: 600px;
    user-select: none;
    padding: 40px 100px; /* Padding più uniforme */
    border-bottom: 3px solid orange;
    gap: 20px; /* Spaziatura tra contenitore e info */
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding-left: 20px;
    color: cornflowerblue;
}

.piano {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 400px;
    user-select: none;
    width: calc(100% - 450px);;
    justify-content: center;
}

.title {
    font-family: "Slackey", sans-serif;
    font-weight: 700;
    width: 100%;
    height: 120px;
    line-height: 120px;
    font-size: 100px;
    text-align: center;
    color: cornflowerblue;
}

.subtitle {
    font-family: "Slackey", sans-serif;
    font-weight: 700;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    color: cornflowerblue;
    margin-bottom: 20px;
}

.text {
    padding: 20px;
    font-family: "Audiowide", serif;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: cornflowerblue;
    width: 420px;
}

.key {
    flex: 1; 
    margin: 0.5px;
    height: 100%;
    border: 1px solid black;
    background: white;
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 10px;
    box-sizing: border-box;
}

.key span {
    background: transparent;
}

.key.black {
    position: absolute;
    width: 70%; 
    height: 60%; 
    background: black;
    color: white;
    z-index: 2;
}

.key.black span {
    background: transparent;
}

.key.active {
    background: lightblue;
}
.key.black.active {
    background: darkblue;
}

.userMenu, .overlayMenu {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgba(0,0,0,0);
    gap: 20px;
}

.userMenu {
    background-color: rgb(9, 33, 65);
}

.button {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid orange;
    width: 300px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(9, 33, 65);
    color: orange;
}

.button:hover{
    background-color: rgb(23, 67, 67);
}

.key.correct {
    background: green !important;
    color: white;
}

.key.incorrect {
    background: red !important;
    color: white;
}

.score, .timer {
    font-family: "Audiowide", sans-serif;
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
}



/* TO CHECK */

.overlayBG{
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
}

.overlayTitle{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    font-size: 150px;
    background-color: rgba(0,0,0,0);
}