<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeyBoard</title>
    <meta author="filippoLonghi" />
    <link rel="stylesheet" href="kb.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik+Puddles&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Slackey&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/Project/Images/MusicMind.png" type="image/png">
  </head>
  <body>

    <div class="title" id="gameMode">KeyBoard</div>

    <div class="container">

      <div class="pianoContainer">
        <div class="piano" id="piano"></div>
      </div>

      <div class="info">

        <div class="subTitle">
          <div class="subTitle" id="difficultyDisplay"></div>
          <div class="subTitle" id="roundDisplay"></div>
        </div>

        <div class="text" id="currentPlacement" style="display: none">PLACEMENT: 1°</div> <!--multiplayer-->

        <div class="text" id="timerDisplay"></div>
        <div class="text" id="scoreDisplay"></div>
        <div class="text" id="hintDisplay"></div>

      </div>

    </div> 
    
    <div class="userMenu">
      <div class="button" id="playSolutionButton">PLAY SOLUTION</div>
      <div class="button" id="hintButton">HINT BLOCKED</div>
      <div class="button" id="assistantModeButton">ASSISTANT MODE OFF</div>
      <div class="button" id="mainMenu" style="display: none">BACK TO MENU</div>
    </div>

    <div class="overlayBG" id="overlayDiv" style="display: none">
      <div class="overlayTitle" id="overlayTitle"></div>
      <div class="overlayTitle" id="overlaySubtitle"></div>
      <div class="overlayTitle" id="overlayScoreDisplay"></div>
      <div class="overlayRanking" id="overlayMultiplayerRanking" style="display: none;"></div>
      <div class="overlayMenu">
        <div class="button overlay" id="startGame" style="background: url('/Project/Images/ep_naturalblack.webp') repeat;">START</div>
        <div class="button overlay" id="showSolution" style="display: none; background: url('/Project/Images/ep_naturalblack.webp') repeat;">SHOW SOLUTION</div>
        <div class="button overlay" id="nextRound" style="display: none; background: url('/Project/Images/ep_naturalblack.webp') repeat;">NEXT ROUND</div>
        <div class="button overlay" id="mainMenuOverlay" style="display: none; background: url('/Project/Images/ep_naturalblack.webp') repeat;">BACK TO MENU</div>
      </div>
    </div>

    <div class="overlaySolution" id="overlaySolutionDiv">
      <div class="overlayTitleSolution" id="overlayTitleSolution"></div>
      <div class="overlayTitleSolution" id="overlaySubtitleSolution"></div>
      <div class="overlayMenu">
        <div class="button overlay" id="hideSolution" style="background: url('/Project/Images/ep_naturalblack.webp') repeat;">HIDE SOLUTION</div>
      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js"></script>
    <script type="module" src="kb.js"></script>
  </body>
</html>
