.piano {
    display: flex;
    position: relative;
    height: 200px;
    user-select: none;
}
.key {
    flex: 1; /* Ogni tasto bianco occupa la stessa porzione */
    height: 100%;
    border: 1px solid black;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 10px;
    box-sizing: border-box;
}
.key.black {
    position: absolute;
    width: 70%; /* I tasti neri occupano il 70% della larghezza del tasto bianco */
    height: 60%; /* Altezza ridotta per i tasti neri */
    background: black;
    color: white;
    z-index: 2;
}
.key:active {
    background: lightgrey;
}
.key.black:active {
    background: grey;
}