*{
  box-sizing: border-box;
  font-family: "Audiowide", serif;
  font-style: normal;
  background: url('/Project/Images/ep_naturalblack.webp') repeat;
  user-select: none;
}

.gameScreen {
  display: flex;
  height: 100%;
  background: transparent;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.funnyMainMenuMSG {
  margin-top: 13vh;
  margin-left: 43vh;
  position: absolute;
  rotate: 30deg;
  font-size: 2vh;
  width: 100vh;
  animation: pulse 2s infinite;
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to top, orange, darkorange);
  background-clip: text;
  color: transparent;
  text-shadow: 0.7vh 0.7vh 1vh rgba(0, 0, 0, 0.5);
  text-align: center;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.title {
  margin-top: 10vh;
  background: linear-gradient(to bottom, cornflowerblue, rgb(133, 187, 206));
  background-clip: text;
  color: transparent;
  text-shadow: 3vh 3vh 10vh rgba(0, 0, 0, 0.5);
  font-family: "Slackey", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15vh;
  padding-bottom: 1vh;
}

.menuButtonList {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin: 0 auto;
}

.menuElement{
  border-radius: 0.5vh;
  background: linear-gradient(to bottom, cornflowerblue, rgb(133, 187, 206));
  background-clip: text;
  color: transparent;
  text-shadow: 0.7vh 0.7vh 1vh rgba(0, 0, 0, 0.5);
  font-size: 3vh;
  border: 0.4vh solid orange;
  height: 7vh;
  line-height: 7vh;
  width: 65vh;
  cursor: pointer;
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 15vh;
}

.menuElement:hover, .backButton:hover{
  transform: scale(90%);
}

.username-container {
  background: transparent;
  border-radius: 1.5vh;
  width: 65vh;
  margin: 0 15vh;
}

.username {
  background: linear-gradient(to bottom, cornflowerblue, rgb(133, 187, 206));
  background-clip: text;
  color: transparent;
  text-shadow: 0.7vh 0.7vh 1vh rgba(0, 0, 0, 0.5);
  margin: 1vh;
  font-size: 4vh;
  text-align: center;
  margin: 0 15vh;
}

#username, #lobbyName, #lobbyPW {
  color: black;
  background: transparent;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 1vh;
  font-size: 4vh;
  text-align: center;
}

.settingsItem{
  display: flex;
  flex-direction: column;
  padding-bottom: 4vh;
}

.settingsItemTitle{
  background: linear-gradient(to bottom, cornflowerblue, rgb(133, 187, 206));
  background-clip: text;
  color: transparent;  
  text-shadow: 0.7vh 0.7vh 1vh rgba(0, 0, 0, 0.5);
  font-weight: 800;  
  font-family: "Audiowide", serif;
  font-style: normal;
  font-size: 2.5vh;
}

.settingsList{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.activeSettingsItem {
  border: 0.4vh solid orange;
}

.backButton{
  background: linear-gradient(to bottom, cornflowerblue, rgb(133, 187, 206));
  background-clip: text;
  color: transparent;
  text-shadow: 1vh 1vh 1.5vh rgba(0, 0, 0, 0.5);
  border-radius: 0.5vh;
  border: 0.4vh solid orange;
  height: 7vh;
  line-height: 7vh;
  width: 60vh;
  cursor: pointer;
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
}

.credits {
  background: linear-gradient(to bottom, cornflowerblue, rgb(133, 187, 206));
  background-clip: text;
  color: transparent;
  text-shadow: 3vh 3vh 10vh rgba(0, 0, 0, 0.5);
  padding-top: 2vh;
  font-family: "Audiowide", serif;
  font-size: 5vh;
  font-weight: 90vh;
  font-style: normal;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footerCredits{
  background: linear-gradient(to bottom, cornflowerblue, rgb(133, 187, 206));
  background-clip: text;
  color: transparent;
  text-shadow: 0.7vh 0.7vh 1vh rgba(0, 0, 0, 0.5);
  font-family: "Audiowide", serif;
  font-weight: 60vh;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

#easyDiff{
  border-color: green;
  color: green;
}

#mediumDiff{
  border-color: rgb(195, 195, 55);
  color: rgb(195, 195, 55);
}

#hardDiff{
  border-color: red;
  color: red;
}

.finalScreen{
  display: none;
}

.notSelectable{
  background: transparent;
  border-color: rgb(145, 95, 4);
  cursor: auto;
}

.notSelectable:hover{
  background: transparent;
  border-color: rgb(145, 95, 4);
  cursor: auto;
}

.dropdown-container {
  display: flex;
  background: none;
  background-color: white;
  color: black;
  padding: 1vh;
  border-radius: 0.5vh;
  border: 0.1vh solid #ccc;
  width: max-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.dropdown-container select {
  display: flex;
  background: none;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  font-size: 1.6vh;
  cursor: pointer;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
