*{
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
}

.gameScreen {
  display: flex;
  height: 100vh;
  background-color: darkgrey;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  position: relative;
}

.funnyMainMenuMSG {
  position: absolute;
  right: -90px;
  rotate: 30deg;
  font-size: 20px;
  font-weight: 800;
  animation: pulse 2s infinite;
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.title {
  font-family: "Slackey", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 150px;
  padding-bottom: 10px;
  color: darkgreen;
}

.menuButtonList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
  width: 650px;
}

.menuElement{
  font-size: 30px;
  border: 4px solid green;
  height: 70px;
  line-height: 70px;
  width: 650px;
  cursor: pointer;
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  color: green;
}

.menuElement:hover{
  color: darkgreen;
  border-color: darkgreen;
  background-color: #A0A0A0
}

.footerCredits{
  padding-top: 20px;
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}

.settingsMenu, .tutorialMenu {
  border: 2px solid darkgreen;
  padding: 30px;
  border-radius: 20px;
}

.settingsItem{
  display: flex;
  flex-direction: column;
}

.settingsItemTitle{
  font-weight: 800;  
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}