*{
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.drumMachineScreen{
    display: flex;
    flex-direction: row;
    background-color: #8A8A8A;
    width: 100%;
    gap: 0px;
    border-bottom: 5px solid darkgreen;
}

.drumMachineInput {
    background-color: #8A8A8A;
    margin: auto;
    left: 0;
}

.drumMachineLegend{
    width: 25%;
    display: flex;
}

.drumMachineItem {
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 100%;
}

.drumMachineImgFrame {
    margin: auto;

}
.drumMachineLegend img {
    width: 100%;
    border: 3px solid darkgreen;
    border-radius: 30px;
}

.drumMachineItemTitle{
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 30px;
    width: 18%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 30px
}

.titleLabel{
    width: 100px;
}

.playSampleButton {
    width: 45px;
    height: 45px;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../Images/Speaker_Icon.svg");
    border-radius: 20%;
    cursor: pointer;
    border: 2px solid darkgreen
}

.semicroma {
    height: 45px;
    width: 45px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    margin: auto;
}

.semicroma:hover {
    border: 5px solid darkgreen;
}

.newQuarto {
    margin-left: 25px;
}

#BD .active { background-color: #FF0000; }
#SN .active { background-color: #FF8700; }
#T1 .active { background-color: #FFD300; }
#T2 .active { background-color: #DEFF0A; }
#FT .active { background-color: #A1FF0A; }
#HH .active { background-color: #0AFF99; }
#HO .active { background-color: #0AEFFF; }
#RD .active { background-color: #147DF5; }
#BR .active { background-color: #580AFF; }
#CR .active { background-color: #BE0AFF; }

.highlighted, .highlightedSolution, .correctGuess {
    border: 5px solid white;
}

.highlightedSolution {
    border-color: red;
}

.correctGuess {
    border-width: 2px;
    border-color: green;
    background-color: white !important;
    background-image: url("../../Images/Green_check.png");
    cursor: default;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.correctGuess:hover {
    border: 2px solid green;
}

.userMenu {
    padding: 10px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.button {
    padding: 30px;
    border: 2px solid red;
    width: 300px;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.bpmInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 300px;
    margin: auto;
}

.bpmInput input {
    width: 240px;
}

.button:hover{
    background-color: grey;
}

.presets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    max-width: 400px;
}

.groove {
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
}

.groove:hover {
    background-color: grey;
}

#presetsEasy{
    background-color: green;
}

#presetsMedium{
    background-color: yellow;
}

#presetsHard{
    background-color: red;
}

.debugArea{
    display: flex;
    flex-direction: row;
}

.wrongGuessBG, .endGameBG{
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
}

.wrongGuessPanel, .endGamePanel {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    font-size: 150px;
}