*{
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url('/Project/Images/ep_naturalblack.webp') repeat;
}

.body{
    background: transparent;
}

.title {
    font-family: "Slackey", sans-serif;
    font-weight: 700;
    width: 100%;
    height: 120px;
    line-height: 120px;
    font-size: 100px;
    text-align: center;
    background: linear-gradient(to top, cornflowerblue, rgb(133, 187, 206));
    background-clip: text;
    color: transparent;
    text-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.drumMachineScreen{
    display: flex;
    flex-direction: row;
    background: transparent;
    width: 100%;
    gap: 0px;
    border-bottom: 3px solid orange;
}

.drumMachineInput {
    background: transparent;
    margin: auto;
    left: 0px;
}

.drumMachineLegend{
    width: 26%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.drumMachineItem {
    background: none;
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 100%;
}

.drumMachineImgFrame {
    margin: auto;

}
.drumMachineLegend img {
    width: 70%;
    border: 3px solid orange;
    border-radius: 30px;
}

.drumMachineItemTitle{
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding: 10px 30px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 30px
}

.titleLabel{
    width: 100px;
}

.playSampleButton {
    width: 45px;
    height: 45px;
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../Images/Speaker_Icon.svg");
    border-radius: 20%;
    cursor: pointer;
    border: 2px solid orange
}

.semicroma {
    height: 45px;
    width: 45px;
    border-radius: 5px;
    border: 2px solid grey;
    cursor: pointer;
    margin: auto;
}

.semicroma:hover {
    border: 5px solid orange;
}

.newQuarto {
    margin-left: 25px;
}

#BD .active { background: none; background-color: #FF0000; }
#SN .active { background: none; background-color: #FF8700; }
#T1 .active { background: none; background-color: #FFD300; }
#T2 .active { background: none; background-color: #DEFF0A; }
#FT .active { background: none; background-color: #A1FF0A; }
#HH .active { background: none; background-color: #0AFF99; }
#OH .active { background: none; background-color: #0AEFFF; }
#RD .active { background: none; background-color: #147DF5; }
#BR .active { background: none; background-color: #580AFF; }
#CR .active { background: none; background-color: #BE0AFF; }

.highlighted, .highlightedSolution, .correctGuess {
    border: 5px solid white;
}

.highlightedSolution {
    border-color: red;
}

.correctGuess {
    border-width: 2px;
    border-color: green;
    background: reset;
    background: url("../../Images/Green_check.png") center / cover no-repeat !important;
    background-color: white !important;
    cursor: default;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.correctGuess:hover {
    border: 2px solid green;
}

.userMenu, .subTitle {
    margin-bottom: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.overlayMenu {
    margin-bottom: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: transparent;
}

.userMenu, .subTitle {
    gap: 40px;
    background: transparent;
}

.subTitle{
    margin-right: 30px;
    font-size: 25px;
    text-align: center;
}

.subTitle span {
    background: linear-gradient(to top, cornflowerblue, rgb(133, 187, 206));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.button {
    border-radius: 3px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.2s;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border: 2px solid orange;
    width: 300px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    color: orange;
}

.bpmInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 300px;
    margin: auto;
    background: linear-gradient(to top, orange, darkorange);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.bpmInput input {
    width: 200px;
}

.button:hover{
    transform: scale(90%);
    background: transparent;
}

.presets {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    max-width: 400px;
}

.groove {
    border: 2px solid black;
    cursor: pointer;
    background-color: white;
}

.groove:hover {
    background-color: grey;
}

#presetsEasy{
    background-color: green;
}

#presetsMedium{
    background-color: yellow;
}

#presetsHard{
    background-color: red;
}

.debugArea{
    display: none;
    flex-direction: row;
}

.overlayBG, .overlaySolution {
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    background-color: rgba(255,255,255,0.8);
    flex-direction: column;
}

.overlaySolution {
    background-color: rgba(255,255,255,0.3);
}

.overlayTitle{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    font-size: 150px;
    background: transparent;
}

.timeOverScreen, .wrongGuessPanel, .endGamePanel {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    font-size: 150px;
}

.timer {
    margin: auto;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(to top, orange, darkorange);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.currentScore, .currentPlacement {
    margin: auto;
    text-align: center;
    font-size: 30px;
    background: linear-gradient(to top, orange, darkorange);
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.currentPlacement{
    display: none;
}

#practiceMessage{
    margin-top: 100px;
    font-size: 40px;
}

.rankingTable{
    display: none;
    flex-direction: column;
    font-size: 50px;
    width: 1000px;
    gap: 20px;
    background: transparent;
    font-weight: 500;
    margin: auto;
}

.playerRanking{
    background: none;
    margin: auto;
}