<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="dm.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik+Puddles&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Slackey&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="drumMachineInput">
      <div class="drumMachineItem" id="BD">
        <div class="drumMachineItemTitle"></div>
      </div>
      <div class="drumMachineItem" id="SN">
        <div class="drumMachineItemTitle"></div>
      </div>
      <div class="drumMachineItem" id="T1">
        <div class="drumMachineItemTitle"></div>
      </div>
      <div class="drumMachineItem" id="T2">
        <div class="drumMachineItemTitle"></div>
      </div>
      <div class="drumMachineItem" id="FT">
        <div class="drumMachineItemTitle"></div>
      </div>
      <div class="drumMachineItem" id="HH">
        <div class="drumMachineItemTitle"></div>
      </div>
      <div class="drumMachineItem" id="HO">
        <div class="drumMachineItemTitle"></div>
      </div>
      <div class="drumMachineItem" id="RD">
        <div class="drumMachineItemTitle"></div>
      </div>
      <div class="drumMachineItem" id="BR">
        <div class="drumMachineItemTitle"></div>
      </div>
      <div class="drumMachineItem" id="CR">
        <div class="drumMachineItemTitle"></div>
      </div>
    </div>
    <div class="userMenu">
      <div class="button" id="startStopButton">START</div>
      <div class="button" id="resetButton">RESET</div>
      <div class="bpmInput">
        <input type="range" mi  n="50" max="200" value="150" id="bpmSlider" />
        <div id="bpmDisplay">150</div>
      </div>
      <div class="button" id="playSolutionButton">PLAY SOLUTION</div>
      <div class="button" id="checkInputButton">CHECK</div>
  </div>

    <div class="debugArea">
      <div id="presetsEasy" class="presets"></div>
      <div id="presetsMedium" class="presets"></div>
      <div id="presetsHard" class="presets"></div>
    </div>

    <div class="wrongGuessBG" id="wrongGuessScreen">
      <div class="wrongGuessPanel">
        <div class="wrongGuessText">TRY AGAIN!</div>
        <img src="../../Images/morgan.gif" />
      </div>
    </div>

    <div class="endGameBG" id="endGameScreen">
      <div class="endGamePanel">
        <div class="endGameText">CORRECT!</div>
        <img src="../../Images/TOTTI.gif" />
      </div>
    </div>

    <!--SCRIPTS-->
    <script src="./grooves/easyGrooves.js"></script>
    <script src="./grooves/mediumGrooves.js"></script>
    <script src="./grooves/hardGrooves.js"></script>
    <script src="dm.js"></script>
  </body>
</html>
