<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dm.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik+Puddles&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Slackey&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div class="drumMachineInput">
        <div class="drumMachineItem" id="BD">
            <div class="drumMachineItemTitle">
            </div>
        </div>
        <div class="drumMachineItem" id="SN">
            <div class="drumMachineItemTitle">
            </div>
        </div>
        <div class="drumMachineItem" id="T1">
            <div class="drumMachineItemTitle">
                
            </div>
        </div>
        <div class="drumMachineItem" id="T2">
            <div class="drumMachineItemTitle">
                
            </div>
        </div>
        <div class="drumMachineItem" id="FT">
            <div class="drumMachineItemTitle">
                
            </div>
        </div>
        <div class="drumMachineItem" id="HH">
            <div class="drumMachineItemTitle">
                
            </div>
        </div>
        <div class="drumMachineItem" id="HO">
            <div class="drumMachineItemTitle">
                
            </div>
        </div>
        <div class="drumMachineItem" id="RD">
            <div class="drumMachineItemTitle">
                
            </div>
        </div>
        <div class="drumMachineItem" id="BR">
            <div class="drumMachineItemTitle">
                
            </div>
        </div>
        <div class="drumMachineItem" id="CR">
            <div class="drumMachineItemTitle">
                
            </div>
        </div>
    </div>
    <div id="startStopButton">START</div>
    <div id="resetButton">RESET</div>
    <input type="range" min="45" max="240" value="150" id="bpmSlider">
    <div id="bpmDisplay">150</div>
    <script src="dm.js"></script>
</body>
</html>