<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lobby</title>
    <link rel="stylesheet" href="lobby.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik+Puddles&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Slackey&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="/Project/Images/MusicMind.png" type="image/png">
  </head>
  <body>
    <audio id="background-music" src="/Project/Sounds/Music Background/waiting in lobby.mp3" autoplay loop></audio>
    
    <div class="lobbyMenu">

      <div class="lobbyTitle" id="lobbyName"></div>

      <div class="playersDisplay">
        <div class="menu" style=" margin-top: 0; padding: 0;">
          <div class="playerTag emptySlot"></div>
          <div class="playerTag emptySlot"></div>
        </div>
        <div class="menu" style=" margin-top: 0; padding: 0;">
          <div class="playerTag emptySlot"></div>
          <div class="playerTag emptySlot"></div>
        </div>
        <div class="menu" style=" margin-top: 0; padding: 0;">
          <div class="playerTag emptySlot"></div>
          <div class="playerTag emptySlot"></div>
        </div>
      </div>
      
      <div class="hostMenu" id="hostMenu">

        <div class="menu">
          <div class="hostMenuElementTitle">GAMEMODE</div>
          <div class="hostMenuElement">
            <select id="gamemode"> 
              <option value="chords_GM">Chords</option>
              <option value="harmony_GM">Harmony</option>
              <option value="fills_GM">Fills</option>
              <option value="grooves_GM">Grooves</option>
            </select>
          </div>
        </div>
        
        <div class="menu">
          <div class="hostMenuElementTitle">DIFFICULTY</div>
          <div class="hostMenuElement">
            <select id="difficulty">
              <option value="easyDiff">Easy</option>
              <option value="mediumDiff">Medium</option>
              <option value="hardDiff">Hard</option>
            </select>
          </div>
        </div>
        
        <div class="menu">
          <div class="hostMenuElementTitle">ROUNDS</div>
          <div class="hostMenuElement">
            <select id="numberRounds">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>

      </div>

      <div class="button disabled" id="startGame">Waiting for other players</div>
      <div class="button backButton" id="exitMP">BACK TO MAIN MENU</div>
    
    </div>

    <script type="module" src="./lobby.js"></script>
  </body>
</html>
